/* 	================= 
		CHAPTER3.CSS
	================= */

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */

/** {
	background-color: rgba(0,0,0,0.3);
}*/

/* 	=============================
		TEXT STYLING
	============================= */

h1 {
	/*color: #ffcaca;*/
}

.lavender-point {
	font-family: 'PT Serif Caption', serif;
	font-size: 34px;
	text-align: center;
	line-height: 46px;
	color: #ffcaca;
}

.lavender-desc {
	width: 66%;
	margin-bottom: 10px;
	margin-left: 17%;
	font-family: 'PT Serif Caption', serif;
	text-align: left;
	font-size: 16px;
	line-height: 23px;
}

.poem {
	text-shadow: 3px 3px 5px blue;
}

/* 	=============================
		IMG STYLING
	============================= */

.quart-image {
	width: 76%;
	margin-left: 12%;
}